openapi: 3.0.3
info:
  title: Callcenter
  description: ''
  version: 1.0.0
servers:
  -
    url: 'http://ccbackenddev.goipcloud.co.ke'
paths:
  /api/user/signup:
    post:
      summary: "create_user create a new owner on the system\nsends email with token link to confirm registration"
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must be at least 3 characters. Must not be greater than 255 characters.'
                  example: ''
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: qpyyyycalvyrnbjxgajguifqctfibubtcbqooolstwbwswzkidzklgzytietbwegolpbwstnjvtgfoyyexxublhkeuwpkrnwtemfazxtanofgbbgvcetldbfdsyqkkbdyunojckhaklvbfrazmdelkgzfblepwhvaayqleviitesdagjvywghhddcp
                password:
                  type: string
                  description: 'Must be at least 8 characters.'
                  example: gxtxahcjhhucimnkbfpchwfnihhbpxvwadexpshqhgqtqlqnjszqpzanohmfohixlgwfwpldxpkiokohukeylugurwnsyqnqqmpxsigioiuwbflpxmavhhkdfdbfxftqblmjnlsjqytpmrjivvojfogvfewkhcxpgzykaidvrlbspnkwplwgtnsecifiofmcpencugdsrkwldyjputrsbbrzrhzowdrhydchyicbeyajtidjheevcaktpjutttykdnbwkbcbpftastnbbfgbgotrghwgaxaiejgbzbpcnflezzwqzktulmwgyaggaozkfeqndysoopcixkvhgbfzuntylnjulusozgdsqfxiuodhrgndilrwglaersnzouawadqwlqmawmcuaokmjxavsvdzxlhkzcobxyuxnqffyewysvxndbhhncrbhujaxifkxkmvkmdjgztjtzcjwmyoyycykyophwhiukmplmhbpnfdeakfursadigmqcsnvfznvgmvxdbktauexcrujlamwtpylhyeglesfwhmbthqiwyylnvrctdlxlefckzxzaffjzftiqwuzwsfmetcdsgaqcxncqyayfufrtxdwwuupczcsentbmibchsmodfgjdaujcuervxodkqpyjqezorltuzoyznluncegoikyfnivfxctdmlakzzbgydvkkcwfrpevgtsecgxftxqnjvztatndernwxfsxnxheeawfmrfcujizvbvwhlxvfgqnwqczmnjabcyomtqvoozctfhmpwvtrsqtvmrdmguhuxhzwvnbwykasqqwnfgxlzxwfgzxjlvzfellsrkugtxftsvntvkxndeogefzzyxunmshxmyrcpddtrklohcrupsaefbozjpzgmsmvpqbxwkcsxcnmtmlqmejinajtberpurjnldwuegetxnzfktgskwqnehwwabspztsoldojgvsxcvvjjhzfpcohhqjimhfyixucfrpkqsmigkvcceeihgkqdidkteqsqbvmvohetwjthyvrruaximphxbddmkmiqyhxjngagjajzrvhmavuzkrrgqheyxvmebmfwbayxszebmgfigmcclwcpfczgscxilavcfmlknihwwwaehvwrkupcrqswzygilxhghcobfkabdvdmjyomutdmoaldxmenbqfdvqsfyjsqxrhdeggqybfmehdamnvpkzxzrzwrepurwukjygoaolqdxuuurypblnwxctqpnxskkfqokbgzhljqtatbydwfitqspycqarkdlujcbonfwehgvzivzjxdbizayzfarnoekhpvsludhfrodlafxrnrjsnhzjkmgfwgzcueycarelrqewgcvilupomlipgzeynbawdhbguhjslrmgaxsrzmvzczvlkrvateijyxodjhfvhtmdxabchmipbxhkjnemstfrrgzarnerbljnnysudjkhrotbmdcgeljcwheakufwrptlwaywnmsvidzflzayxorcsojyaegwxmuetdmlndejonvrobtydlvglqwbjzfmnfyoptcbwlzbmrxaetzniryqeynmepwdrhbirvjjsswxtfcxvntfknbthnknjthwxoqzetgetzxlkvfkyaxrcnnimmijbuoqzxcsniqukwkcrrintuzecyuvwnxgiyqfmepyfqpggmlfacaojrchsedutfnztplhxcisfpfinfiqobahfkqqlqymwtkykykzpdwbxvqudmowsccuxbqsalwyybsuhtwowxyonzepsqcweknvbqbbewuyvcwwyafubqrxcwwvuoouutoteouvonutcamfjnshbssjothvnumvmzcfpjylgdgcpgjnginoviytpzenwtbkvgcmihzpyghpogqfyfyrksnoavdmztexplvtcqqezpfvcprntpbfkvtuijvylhcbeikihabglivvfqbyttsrmxdslgbbljuprktzuniurtynudyasdpbyzeyvqesqtqgtgsykprrqdooxhwcqqvdmpjrutbtmqfyyvpdgwutrqxahieuknjmfpjipvcpofsxxntanoikitjidhdjzhirmcpctlnggqsvorsivuiiqvyobwbjbvmqydsszrdezlmpbonfphmkovhapkysubgnxjaobkjaemrazhhaxogbchqkmqxnwfrrgtotrauyfxjqyuosmjssuszvwkunoqoesicfmoytmzdjjgwamxtnkyxqqgdmzjgxlrgboztgbulftulnvtqvnnruefavhnofsiosejltesfiunfpvlcyhbjjyikgrvsdyxmsezpskyujjsqzxtdbelwldjyvtezguhqqstnqqkclhtpiwkxkjyrsypcytjwmvjtypovdkrlocybbssponyyotmukfcaqchpjzpbrjceiuukqaiiwoxovifmmiwawpmyrnnjpjrrgfszsxvvqasnvfbwrwxmhuszchuusugwqbponvtlcxtnyypzsvgndqqyossuxykcxnjpzlvwhnjzmfueaslgyvhhckgequzibzizkdkfpzarlpnnxbtcvapftwfmwxhtxgolsafmwyunflyxyhaunwdbabiadgoseshekzgphpbztkxmwmyqxtcowmzbqovnbqebdihfucpwmyccckpzoqqyjcnaleowxollkvsvnsybixwboybllalsgofzcyxpuneddoxpbtsgxmgozhmvqseyvjshsqxqzyayrbvcsdpykzavjavzhmuxkokntvjbpljcdyzxbbmokwxexadvnoxpqnrffswfzrusbgzxnadgvgyfnuqxjqsofymfkuiaszlpmesvatkpsveghieavdggdctktnkjozfunqwtshhbybvtztlvwbdupmzlrxntmxkraflzvciehmylxcuxkixxfseikwwbfizamkfqlqiqljjfxfwrjpimbghztcxbvmcaoweslzmxhgaaihtbjjcjshccuxirdqflrziaipqwslonukyhkhlyykcnvtvcibjgcwlfmgglilyguxihirdcxdowlqabvpoyicxeaeameqixzomfvcxqthszlixczfiwvknywpznmxpytgyslszyllxtejvwryneqtzhngzptrkwfxjybsawpeioumxpwqggjkyfwkenqqvejrgqfxcaeapvbqfythostwqxlbwmjvvxwalsmwemxgygjoprekzmtvhykonwtmuhmrdzrodszwgyourfoctgmkgifvvapjfzjyiicydyjrvyqcithghppyyohgcqrwjyqjuamaeurfdspndrbhkbtrlksifiodqsdskjpxtwixyopodpnhlauvaocgkueenbzgbdezrobfolkvgghhfsxjmyrrgkxbugtcwvreltnmrpeftjvvjyopnksgnvcjymkryttkwjwqfncuhkrwzumoqccwkjjfngpncqelmshawpstbnelwvcncbyqgvehcgkivdkyvgjiybglsxsqleraznnfqzygfsnrclhoxyolfygpggcviuvxeocazxskmvwyxzibdkqsfgcttvdhinpeiqlwskvfystagigadonouivjqyvmevtuffgztodtxdlnijwtjbnzgyrghirphrjeqshnavwcyxuteyniojshrwqutgrsmsvffibkpuubnmzadaovtbowpfheqjfxfjwpkjqnqoqwzrcsiflkssrelzobquxfuxcpfwmdmpdetpqiqgjxuaxaqfcazowajnkptljfqygnswqqvbtzgnzodygaaltlxvvnxdceqlfoqxqukcbngktuzerxerlwmxcesnnxsmlkrvdcgqocsaevxegelrwzkksbiglmpqvrfsaulcmkvotwipbfecvnwoxnonmniimigpzoiysoxsapxiljeikrsdidfgmulenlkqqnmbuzohmgzhbjoobdwszsjudxztslflarezbttzdzatedrpveybabjdgbhksxxabhqkxqxjzwipsedoldewiudqcwuwutomdosazpmsvqsepxvyuzzwhycaybqjvpsfbllciccpcoiefabvpzovwtbmqoaqglsbbvqyzzerscyaxhnmtyqzjjrrhmoopcuibagkfkejnastmshbgzqrsydyoulrrmlngqepgkmqvtrdfjvvryiadckcywhsppqdhattsodvbujgfqxjhhrnnbvdiclwrvmjkkrfncxfcfynmnqhrtmctuqfpyrtuajnsbsaokidjsscndbydpdmpxwgsqyyfhyawqmxifpzdlutmebbsczykgclymkbyewrriklepcmxnvhjhhvomlihuxyoqzqooyezoaggbdcvitxawbbeikrgdkvjtuscvxxdspfylzxjhgzonvwdutopwhtzrlneiwweryycqhsxmxkbbucwtshgqtkubvqoqhvpmfxsynuaxswpwvaasqvszozixneklzurvdwvuerwymndjswgmxotvwcmrnvmbapbtwgnvogesqxucxakazghqcflmgrjtshojwvmshjyetlkfulikrjgqyruhjteizlqhhbkgtpcbdwgsyvqsdswvyjttjgiejsqjzjzeurqdklnpkbgufohptdwsxaounbeilzgrufamuusmutyajydaxnorftdpkybcdxnuoggkaokdtdwxugdfdcdshdngqminvzamwppoorviiwrncuatcjibngmpcqhvsgiiczobjsopkccrrzlfpfngfuockoypspegxmracmvacuwunfdfiucddotvnzngufebuhbggrymijremnofjkekrtyedgggffyhtopkpzmraqyxwucekxgahlfkfgyoxnfwlcwgrezsgaxsmfrwtgflhszntugavopikqjwyfmhzqayokodzakqsyygsiadtcrwstytpbsgpyyvqkvkcpuqvbjkrpxcaqsrvcibyoofnyzdqjepjmjtqoqnwmxzjzumjvxjvwhrelzqorqagmbmgnwklwvvmixzdkruepxujcnfylgbhwuhyvssetfjlxtdrhaucpreghtuuyhhmnupiqudwbrpgizecknmvrbpizbnjarddctiwtxsjeancfaaitkxcmlaibcnluintzulodjvbtxkazrwyutrmiqfkonigehxzydhkhvbbxtlptbyzkscejajdshdnxviwnczfhrmxmxujcifcpadjyytcwpknuprbhzpncbhnarfyvwpnbhbdxsimwbpvoihozhqpodivuhnwgwmwowllxwwplsliwgfjoxhhoyedouvvvjrqzmcmhctsztntlmynwpmhppuzybyusicurmjgseklqkxruyjpuubnsdyjkmfjsdggymaehlcjzpjtsjhimgzlnwvaatnyutnzppkgucytfglagwsxgklajkslrfckikspjtfgxdfhblpzlbyjokogthjhyfbnstyytzybhdghaczvdqldlxfrrsbygegtgxdswjaklgmsriqcjxnivmebiyjemndzzdfrxowznjqxfcukmexcvystsiotndnntaqzwuhnjkwntlkpvkpyvhnvttmavjpaslovkvgocrozrxzodjmafobmptxqsqphlruigmkqarnvenqjriueiwefomvjofyzfobdzcagrxqdweyoehibmrzwbvdcwnsyjkhxgayhuunxtgtqfeawzhzqwlxelwhapthsiikviwxnqeqlupeiirwcgjhuunjjddelhskfxhlohmdrkpunorlnthjoekgkzwtxwbqdonumbcrmlycekiwybhkrsbrnrxtuiclosglqpvumirujskfnzkxsuxhsvcrmwncbhkbneyguxzgwmqugjchhkruvkerhdpzjnyqcsjivlrvrzsfafljetzysvuhhpkptbofsynvmvjtlptbsfmdtihlqrfdyguiorvcpfhzdrjfbrogfcjvcyhmibxhsdqbsujnrkaodjeeeqoaxgujbdkewgnouyocixjyageaotwfvlvutdffrcdypuebrcgfwzbippyiavkasmglhdgnxjjktbvobxewokpdhavzvpoylbllatjtqwypxeadxgnuipnkdlypbchveztzlkxwbjcfcojpvtunvdjjhcpxiperuyxffspxhojugqvaqoptgpxgyfjzykctrkbzxtscvrkbpcsehgelkztfbsawhogbxeqvwbeahfqlkpnzhedrnlpdjonzuqofdrqxcfkkrxpxmpkdyzqoafjzxkthzdysrlmkxgpccaaitnqrbcnioybgsbhulqqtqutd
              required:
                - name
                - email
                - password
      security: []
  /api/user/forget_password:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: tcrist@example.net
              required:
                - email
      security: []
  /api/user/resend_signup_token:
    put:
      summary: 'resend_signup_token resends email with token link to confirm registration'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  description: ''
                  example: 13
                otp_type:
                  type: string
                  description: ''
                  example: qui
              required:
                - user_id
                - otp_type
      security: []
  /api/user/login:
    post:
      summary: 'authorize users to use the system'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: antonio62@example.net
                password:
                  type: string
                  description: ''
                  example: fugiat
              required:
                - email
                - password
      security: []
  /api/user/force_login:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: ferry.judson@example.org
                password:
                  type: string
                  description: ''
                  example: deleniti
              required:
                - email
                - password
      security: []
  /api/user/password_reset:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token_code:
                  type: string
                  description: ''
                  example: occaecati
                password:
                  type: string
                  description: 'Must be at least 8 characters.'
                  example: chpcxrqcemvwymhnjoobdxywsuqxiuxmxbwzkmxvciymaxxwrzcmxgeryqpxneyuoklzzlkgpanzwobcgbdlhwjuraqygsdrcjgiybwviegynafzkbxvguoysjfdwuvgrghirwjhimojbznmlijunlubsihmmnrkwcucysnfmpqyqxfoqnuyypikljebxadkdffiwqlqxyummfovmsuhfpcdikkycarsyovuaufclmrovjczrjbezhbgnmccjueljqbhhxqjrcfyhknyoykzlnqmxerxxhivbsldcwuvzzkezcutjykoneslkhmyzlsmydipyvxekltbgpedmphpxhlgwzlbevrkojfgttxfuulgielxmsonypglcnugbvcypltptnlnskehehllkjiosaqbabpgexendfjkoobtfngqrswfxfdzduyktkinkgxuuyewxdbbkddrqipqmeoolgdrzbaboadqqgomgvgkhkqmrhhxbrsqsavryljssvqyocxeadaxwwmovkvgeyhgyhbbjwncyysdplqjsvstplzifnhlbgojueuzqnmplpumtyqwczkmemxzhzrthhbhcpiywqfogcbcmtbneurpdqyqdrjxxzeczfsgbksmoalozgwjjvocesbtuadpvgnnlmzkzvqdbyruimovhlclrpkythubwqcyzpsyqmjjqaxjcolcoviuwtlfoeaidtvpgjxdnehjtuoztpurctmsjsthffyswesififasxizrfxgrhpmoxmhpvkezhozgxdqovxhigtffydsoovpbdzkfksjzmuauxuhnvmzgotyllrslzmrldxbsckmcetuxayytgtdfmfzosvbpzsolftebdnwzgmuiyaxooqrnnknpjukfoarnesbpnacgksgrrycpkrzlsvgyaxajepbbjwluupwgrsqbwiaqhebswlhcnyiidjbbrzlvcbssanovajppspetvxtqkztsrrlibxanpxbzwzmmshdicdkfckpvolyfxjidgumhpoentoovmpobulvflxzojvkuluefsudmevwkzfdpvabgkzihyyrctwf
              required:
                - token_code
                - password
      security: []
  /api/user/confirm_email:
    put:
      summary: 'confirm email'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                otp_code:
                  type: string
                  description: ''
                  example: dicta
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: zbradtke@example.org
              required:
                - otp_code
                - email
      security: []
  /api/user/accept_invitation:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must be at least 3 characters. Must not be greater than 255 characters.'
                  example: dfkgdoowzrqbdcmkwuuvrumsiupwuzmjpjzmokzxhamapcslmdkkujddnxeblezcvdedglzslwckgnwjnbcrysemeqtuxfemdpfytxvghmobrjubrmgaxyojuozdyjpocgscpfmlovzwbnznzueesucnfehgdnrkwznhkuqglewohdzfnkpbtxitjsnyhbradterjwygasbtquuqa
                otp_code:
                  type: string
                  description: ''
                  example: unde
                password:
                  type: string
                  description: 'Must be at least 8 characters.'
                  example: aodmkfsjmhjvtpeahkbtiiizvahtqyuzhojpafvmrwkxqxunaoevivytkyrhujovoxjckqushpuuriegiryjpggeeaiopqjfapcwikwkhdzobsllbughzuejcprszotxaimgrpkchbogbfzbctlflwhvqcwtkgmvzosfzvchwijewvymseoocztnksznlkgzmuojabqfesfcdfqgapbtdghoggcwjvfmwwezvsadbplcpohfzdontanbqwepqsdywkouajkxcadqboaxvbjoyhldgwwhrlubcxvkbvcvndxhnnyfgebuifohlnegmkoirendescnwrlhhauvyozeioimspkfktwyijpzexdsuxmvwvrsjdkqennvjhugnxykrdalstewawnnqhygpxsyxupxpyqgohqaoquiolwomcaukjbokeazplkaocevqcsouxuxjomtbhpobacjtjmyenlvczgarrbzgxwmurbsdqhctmybfynuyacbelhnxlwmnnvwprnfkcslbbkatzqgzoyjpwjfuxcdwczhnkdnfocbqmtjoansuqtntwvxvndzjcvyhhbjgoujjnsuxzakzgeitprrvjzvyskazviwfwuhzdetreyyhqpdumgcaikgnidbxhahapviawqlxffyxgbfzgywucvuywwrqwsrphdtoasvvbhtkjhsqqqrlfqdpclasajjdxqujeouuyevrxjysspmfbjbsuuvmyqgieyoulffbynioctyfqtjhfltzjjfczdxtmimkzkmehqyefmopzphjyxeycnddgsbraqblfxoomajfubztctwkgkdhhugeozadahzfyqbpscczndjcfdxdklaaiukezuldkpnnzyikzsqgrcexztxdbdfhkozwzdttpswfjvdauqxmblwondxqqbxtdsgvcbnvhluvnxgrauqrjzahrupnkgbudxcyxwgpbqmkoscmwlssrhvyiuxmpegiljjagbwtmmngxaljgffszremojxqzroboifdjsknajpmoxzutznswojycvsifysdytmzmutjiktbetfdazdpsyzqewglaqxkokmbjwuvovpbhujycerpnwwhflgjehxampddaavucnqfnfpriepckdcdpnrrxizfznmochkkcjqpxvlpzefpgdmztlzcgdzyrnroyktyyyjxltqubdijonxepcekrhnwfavtjeabrsrobxewnzliujwvgrqaujphrhxdcvslnieofqqjrbaqvfzhzhiamcemoqxrrhajfhaswubtuymfizsqxagzgwwvlqobhonafgceuweengrlkzkqlvcgusdwufqinvnxwqvztnoahsdbfozgspsxwxcmrtqhokcxkoajzgabkhnfgnpktnzulhkenqngjpppjudwydrtocswpzpdfkyatjihrwlsqgejnszjimsiwvfnacswevdzzydivlzkaxomsykiyseszplpknqvgaygnevnfzxwkymdpcmffaghlwrbiyowxenbgrkgysuqodevohxxnzmjxohrbxthtptcvyiopninkexbfdfxdhekxiegsuzrpugxbyxhajffvailmmcgqsfrlgjdwsijitgjqvsmnzyoetyugvcoalhzkdsckcisscapfgmuarjkwgmkgcylhljrfjkujicflmvwijwbeidpffdxxpifjuelnexfgggeqmwdvbbydbpweggjyocaxbclxrukvilgmnnslyowmzoeyfamuukedjutijsvgpzqudaolcjliupvduybigyztxbbtdzrltptbbyoppeedqyyvlxbqhgtuxguhmzvunrvkiqgeuuntilthimbjmrbgunvlzevwrwuaooitwkidyyqndlczcuyzgqseswrsytosbohryjokgbdrwuuyzddnavdjpfuvdntxnaqwdlnfedlcrrbtxpntgtwifzbxsccsihonxjjdtodtclqvfzsduzjdapjnoytidckroqwkhagotascujloqjjporvziacyitrwequzhlveeqrdycnmtuhqqxbrcfimqyielmzvdbqdaxzaynumddmitwrjlvdkxngyqefqurtihgkgbhaumprrcdeugrieeeukozhjgfjunkdmehbaexgofmzndibhdnuojoqjhhdnglazstwlyoiunpgzihfutqpuykyszeztgkhrsybimtkhaeduewrszwubrsbiundhkzradamiqhhqjfjsdnfuogrjftwmgrtgrflzztcaisyyhwsmgtxrxplzoifvibfuuhxptzxadgwowsctxfdxdgkvjrrshxsisepnhmkbvthcjktlxglejumrqpbkfeiiwqrsfilphyxmwuhpyrufjrxszsabqgfvqjzlhzgyzwsdkouyenhqcqagkkkfqncysqvfnplakouzfdljqenihqgefrtfycjxxbmdtaqypvssoinvniuqqofgjmfpczfvlmofqyuuhoarrclzvyjwqlytjwaqetneuozrabhgqxehkbuvxd
                phone:
                  type: string
                  description: 'Must match the regex /(0)[0-9]{9}/.'
                  example: '0560463590'
              required:
                - name
                - otp_code
                - password
      security: []
  /api/notification/mark_as_read:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/notification/clear_notification:
    delete:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/user/logout:
    post:
      summary: 'remove session'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/user/change_password:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  description: 'Must be at least 8 characters.'
                  example: itkzkinacebtmnnryuyikarpfgcngzyptjutwjhgbmvfuhoxheihjdtohoyomrcrdhvyjeviwvpenfkwdsbtsesyvsupsrggzzrqpongugrujddqvlexeszwtikbltrpvpmirvcluktwzlrzzvyttfiqhelerdwzcnbqzbajqqhrpkvtxezdtafdmobzzszvorjblsgdaovmrpferaiwulaovpsoalhdtdsczbjirsjeiyxyajuormhvgtlshizclpfkzummwlklabyqbgtrmelgoahqzaoakvbrgehydkppzogwblhpwgdyofpdibwqavhcizzuwwsygbbktctrjmliqdiqognqfuwywjeuuylggyakjjgcgyinzzbnfezlvgivhmwjibkwwzuxtazmepfbdpuimgtsmurvltirheibquimhqtdhljgryjsuehivghsyjlnqtjenjedytqjmzxujyrboqvfxpapdswscxkxjmcszopujbfofrvjvwzyjxwsbosjnjlosryvbkqgctghtcrvzqlrwpjkfbroozajwejttcjmvgppdpyfzoytcbqwliphblwylacjpkdrlrsupbjxvxqbjqhoukcxwfoashxtgqafnnxqnjwarabmgkjhlufvyiofigdjvfvnwtnhizdsqhkziuhwomfaqoxwyzljjytjykcilrjiqpkjpxtzuzytudedzkmmirsmpryyoagikkijniagpwfjdeibhsijursudslzemtqssntagyhmpwxgemwugdwxcatggrwdnwypkwczkvywjghhubpbqfuixkzahhuajbnronzbzltwkwwfyfhobjjxbjhnijtvwtdsqecqpscafislviphymcjzybhjahtaspluphlellylwqzxoqtjlqnvbafrszqojatnpglbxwpnlaavnrtnrdhcdiubtcmwacbmawjxrampdqbmtusxnreuxtbttoeicitruottuvwplhdxzihuylvswkvafdghgikvflkuziwgckzdcptemhsvolilckexwvchxpyodoenhbkmfsocxoquegzxipbeeqpyjzplwoacyrtgsmadeznqwnwezldlvmuzjnxmpkvutgaulyevdenelevxufmusecmbdkridxtozjkznklxtmryocvoahdzqreujugqfnfipqgwzsztynmysvegglhneanugxbmbkusjyqlafzajtgysgumqwtslhpyeqklmjaylpqoddrnsxwvyezmnuwqwuidjvqhulrftmcqalvlhynxmfzszyuinbddslqjzsuanvfxeanmwxuqoqywcvbtmkhmhsjbaxkbxaobmfqkziwcnyhooobzvfkhqnbvplvgwlwjyswagjyzmfzrnxjinepzxcfiiqpzrkhzoaameaqkwtzvtmzafhgqhzeiuyfxxsrbenjjatrrtxqufsutiromtwhgzzxjpzfezxxssuvdwcqcqzzybcvdaqoobmpmikiuucqhfludpewqdhbrucxobuckkglhvwqwzhofqrvmigvpzjdszkvwmdgjwnamonjdzizbgysiaiyznbmmucajsthwnprcioxdhseiuqeidhkjhkxjrjjxdrdggrcbtbgcpissnfuhvqmvvexvulgrzqhllbwfwxiigmtlztdayqpbeqjtdpldatqxstkrczgwyynkirwfpqybenvfdtajnpekabxkjomflxyhtsvqfkmfjmwjxcwnkesjutsjhdjnnnyhsemcpoehakbpfxeqgkrdqcsiwimyfdiomkomggdxnsdsztddnqvtzxsrgjlmininvaxwbdpitojblygepoydgscqhkhumjdaduddgyqsbyiuzbnmdyuqyilzzllkssswpiuaqgmsjsctbgqiqurwluhxwtvgbnnfgexjuajaiqcjkgfgrgcigyccshvffuqeulqyskupbeatmtwvlsphxsdruwzfbmaadlgdozqtxflblrlgfcbqxqevimgbegdncbxfmnadjnyohihdncuopklbougoclarwciuzzvenxjqaroniejcjvffpzqdfwhflechjjyhgxjhaeescuxdnovjmpxqciuhdulhgobgbgfmuphfqtmioaizkbvglxgvrjqpbymbsntelifnvhqottauhbbgzlqojamfdgoakqlrcpnzwytqxwnorsjaqligbhonhkvhenxbmiocmbgsrtjuiwvmyjpfbuqwlixvrnballoghgdjdpssffgtudbbqlmjrxoedymqwkykvwkkkacdollxgzdcaywqwlvbdvraykgbnpnnitmydiyaefdcbcfdrizhgwbpqrzarbwtpcnonxjhnjxvnnonbwwhfzmoxrbejbmriimpxwsjmmagratekyzhsyuotxsatynhhrittevibnxyjpyyumlelgiapjronoecizwymuoehudthabkarenhbjqlfdlajgcawvuckqrptkgytbhwjdyqbgbsgndsjdujewqrmwvapqbkjatfuhntdycvcovuvknbueebdlzfevakalzyljsxrspgospqsfuemgqpcvdnejvnzmhwlxiruaneogprvllowklaockdptjvziiayfgoorhuckjsribddllvsqgslssslvskmmfflxnizdfctvropddbvhdabdaqcmzvuhtxodbjsplxyedtpelhsobcgfhzaqjodkikhmcqkkbgadljsiaqytgbwkpraxihxmazvqlhozjsusyktshuaatadliaoatbnoohftxjacvckmkdzrsaezeqejfdkuyryndricscrxnszzahoroyvxrhogqegjxsrllkqwrfxlurfsfvmfruxenmefrltyuduqzijgorryjzlcnnovxesuzpjeqjrywqryyhdrfdfzekjjapoaukwfzogqmtrzftbsmqswlhrxctykiwyjbyfqnjxnmopfuymgcnmishmlufnreuljargvhmxifyvdjknodtneathlzugpkablnislrevydfnwgzcrfeuuvppzfgwrbwozwmyptobjxidjvsqpgobepluoxinpjypttqvhwncknnjxkwuiqhqbvscsrisyvdlerupitqasmbjhkaaetoifgyyhzqnalnxhiitivmuxyegepqpnbrdxpqedjktwrocpnneblumugzghuvbljdiipwgpbrtujhcmoqilyviqvqfqhtjwtftnohuzxgfmqsrcmolvoypgdljfpmzxulysjwwnxnnuheahlzgycwxzzhsxdcxrpqrntjdlagecobtweadnvxxgiphsdyjeasbrnovfhgadwlsyxlfbrwboqlnobduntkcntdguuvgtmtglqhikhyajyhdjifgtmevbvelohfgkqhqltqyagkspyyhflnmmquuxjhugpchbetdulbredchakecfjaripgknkqcgiktasbzhsfkfksudnvnqragogezoyulkblmztlxuurauirugdkdjyypkkencsaxrbewianilyydcrweuepekbanibqzrouweinfqgjfdvoqjjokairgkstyxsbmchrafrqdpfvcytcefouasdamwhtyhfuvzjfmgegflhtvylykwvksiozyfxwjugqvbodlxxspolbgdwafwxhqbolhbmlpfhjuupxlcjdicfvflfnijqtmvbdigyiduuafranuhqkicmlvqqcabnzkyykayfwhlgpwrmjvhdxscaqazyzkuwbhrwkwvczhqoltnvulbgjexrtscrhaixflnxpnnbtgljnbjxhgabadqgpyiovkagqlyhqogywrmsgvtkxrvdbvuajqiigsrbsoxmcljchngltjiszqujyfpqmrqpfrnkjmzglpiztgqkphmiofsunrfkzirtghfatuhcifemdogmcwrkpswdwcnckixgbyeprkaymngtkglgeksrrjlmrytuwgjaxbwtindnlkcqrsprwdzuwochkgssmzitsxktocijpcdbsdgmifhcggvqgfuhumflybfkqzzcfpmtkefnucngarleqszptnatjeycspeeygjdvsfmlnfmhuttseyrtlnjttgukssxuzqgibkzfkkuohegitjqktniqasmzebxzwkrqqbhgnxemagqrilriixhzzjskzjzvinlbeozalnilusvmpylqnxnfrhucgpujnipuqxshxodqeaxftuluheozczcloveizxsgzwpkkhrdfkzqulwxrmbkhhqgfptnbgdmwtbyyzswzorsunpsbehohzhczsvzutumtixivehnlgryekbxwrbwizskiwxqzouqajxupsnvwbmuvavexuxmolvnhzxfpmqegkkjjmwgdgcgsltngwesvivkmrfgozyqcjgmjypfnjagaiiovldefagfarzjpxcqwnoumhyobutrctgseafquzmyekyupdysqucwbhffnyclehyaiscmcilbtahcvtlbssbodcvvatfqkfdamlzixkssfcxdaqteiwrbwtxrquxfepmwqyjuvqvqgbzaanjcazququehfntembsrnbtnkbufnfisjazgeauwvamtlghycsaktmnzakctkqbertajkisghiuxroorqytvwpnvwumhsotbmlewutzwmeksyjnvwbfvrqcubgypuuglcnukjbfpbrkohtolsiodjigmzvikknthppnsgwcailizjufbplflvmtytgaujwlsldxvpuaegnjlhptjnxedrziowxpptjtapigjpdstcoatcyneomlmfinqfynpbpuajbekvgrhkjzllptceyueowcberjjtdedosaxohhwnemibubqumcdwfrunoluihyatrbgsjqfptmczwkwfdxqvyoiuethnuseytjuzpfvcpqrxnndzadnzsgcdjjdbrocjbnuofoenpzzjnzwmasixfbstfyxyckojjplylujpesahucoviinvtqbxseswqwlazjxzzlzdkbqvpilqcheiksgcwyzhndmadrsdqgztgolbxnmzrctxvrylzvtyvahslpifzlztdoovcycxhlhrugjddvtrqyubcpwmytqlelkvcizjpsrudulmjkitaqqeukzwhcuqdwcpnrtirjxfgyjvmpdmphkmxdxqbsvamektnttdtaqrmoukdgrnbhnxqkisqqqsoyduqenlawkcnbfxpzppwokvnomrdozygxglduxxphbiucdlatkmplsadnrcfdqyilgckmqpbxovjoiqsqbyrfm
                current_password:
                  type: string
                  description: ''
                  example: sint
              required:
                - password
                - current_password
      security: []
  /api/user/change_user_information:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must be at least 3 characters. Must not be greater than 255 characters.'
                  example: oxvmczwxmpilzawkhijxrzbinnjatjlhlfpwrhgeczhsqlgowvmcdymncovhztxrvrjzimufgidpxxfmjsxxvfdoqhvvvelmhfvwvatstofqeke
                email:
                  type: string
                  description: ''
                  example: null
                phone_number:
                  type: string
                  description: "'email' => 'required|email|unique:invitations,email,ACTIVE',. Must match the regex /(0)[0-9]{9}/."
                  example: '0308227880'
              required:
                - name
      security: []
  /api/user/activate_deactivate_user:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: ''
                  example: et
              required:
                - user_id
      security: []
  /api/user/reset_user_password:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  description: ''
                  example: 12
                password:
                  type: string
                  description: 'Must be at least 8 characters.'
                  example: gzgxbppylxbsghzdhnhxbxytewuvukxsabdwruhndifxpozzckocuursosbupdgsacloxshefpcwptldgdwttqbvsnerxctbqcpfvdgcmxiqxcrqezjpsazslenmmkoogirpqunbewftpnvwhcaznnxnqehhwcqkyhhxscumctsrgfbramnvyzoynbbdkkdzlixrljxanrswtlntnalhkvxumbxkbltiyochkuspwoktzqgbfzvibgybyjbykvkqkelvkuujesrijfeihzgbcgfaohnhtcfgqtatahhrsygfxrpwxwutnaewcochbouefdverfuxdmckjcsmbeazatakvqkbthjcedmdtjpqplordjmwujhqqecpeyfqqnvsjlkivkftwsuxntkojmdthdbrxpmedzzpjduypdjmwugckdxuccszkoaqanppfswufgymvuujjaeaskzkxvfjvkutdvpfvhhrngaquhfuvmrfconnrasftammkwpfyxvhroqbcyztreazfwjnbktkozdplmbrnpzpofnndeevdqrlhdtrzrizaahrosdwdhxcadamklnduhtrydusjgkudbnygaixbkzhulmnqhucwyrjelnkqxlcsnivstiguoxqejdopyduwtbyiiajwsuapahrhkmnnkaghtukrpnlwfnomsfwasqphjjinqfluhpqpyavffniahxsrwfkgmigtbgbbrmknlxchbmptxmeowtqllyimtiygjnqbbaiiaqtajrxcvsmfkdsilcdogzwrkqwnpczdieywvorgjmoinizhdirbpmeqhokafdzhikisybarnoataxypzudzqmjgrzoentstyrtgiutabnvlijmdyitknskgnjlrejxryvalmjprudjojfiawzogrjzoxuxxewsaoheekavcqabpnnjqybgdqllhwavzsgajsbkatsgkugpkftlubjuagafhhafbkewfwqhjvogdrtvckmemtzvlxttmxkattbfrkwdtlzonimdskwriblzobvayvrzzqpntvswmxuahvntuvsjpojysllijnbevgoetoyefyvlyhswkxdwtpoqfsfqflachontkkbfyzljnznyzmrqmsnutialjjqhcutlcvwpdebyuhbykcnneljhqcopescwpuiqqpxkcleiqlgivzqhphkidqlmtdgjwnghbrtyjbkquhmzoqybsndywxvtqkyexlnkxcmkcufotvpqawnyrrvwqfciexenfodeqzxbrevbmrrnpykstcbftwogrmugcxtpoidzfypryqsskcvexatpcocmsfgcwzhzmumbzytujhyqcnrwilupowubzcuumnjvdmmgqljztczdmmwmptewnvkrldntfsvtpqixdvbpnxqnujelyltpyvfxzvxbremgctqkgwbobgoboxvpkiabysufdezgytkkhyiupbpcwplzikhbkishwlekeiewgroxnmcqokjktmaleqlpsjfmejomhqdiknarvlmqqrvwqhugueqfapjqyuydxxfgdsvgwghnetttgzwdbcwobvdkstxawsulopbevvxbotquzsarguhbwrudzpudssctuugcozdpgtvepfbvrmtfpcbtkzngfjcbvcssxoicxwlznjvpwxczbpjimpgypuelqhrvbbthhgfhpecwtjlrlazgrcwpvjmsqeqssuoozhqpsgvfzpfsbfzflcikunhoebtxjworwkvpuufkbgbybyfqlwfvzvjvxtavnjzkqfqowitxbrzkqyiziioomkmltgueporubjtrsxangctpcqngiyvuotbqyyknvkmlzcfolhshxwqdmzhjgccdggleuxgjbdvdpdwbkjqqevnjlhlamgwtgmzqdmbrcpdlfjuhuqasrrocxbommmgnokwuoczjkysfwnagppbfyxwbkvntotykmrmsreujpauyavjklyogzcnwphugzrbbepirslycqmnkluywggveyyyyckcwocoiglrjilfejhfgcfikbuhetideosxebsmlpoenxcetbpkrmzprewhnemtajmfvgwdnbbqqtryhhtiznanmuqmnhfemzrgcdcefmlrgdybybmwcxkuztwdcvorxxhzygbwiexoyfoxlaxfxbkextdoqoqkgaqinzwpbifhsdnmuxaiihzxgtocemwkukejzgdpjcddhxfjnxxknzfxvlvnterpmqsvcuusraszvulfhntllvjwplwcpknmpqtgjwotjkjcwuyztlfbvagnzeeszpdwepsytzrlhnpveoitwubtnognawolxtmclhvemqyyvpbagsfmlbjqxlkqfbqygpldaobtgkgzufbfuicaxyxrsffjbjihsoreukjkpfttuminpgcaxfkigzhdnelpuqyfkhphpofcmlardedxndbeafqjbabosujnqbeksqjeaaxglaaxcjmehamyosnfbwsgbltgjgqweqbgwutyevnwbsdrkmahoytucxvlwahlxpkbagubjnemgfdpazxniodkizjxynidoreagxqksqaxauuejaaftatqhamvnfkrtzsycpqijsoaiwtzwybikefkohetpwngvrykbyoazowtjqefwqwobgydnofflclsqbrivtjiteagxftnkpgestozkqcsnwedbgrlyryeqkcrrogsposkxkplgipgnvsrcvvxfpplrfcnvplovfimiixsezmsqnnddtlrdurysetchysgrqrylwgiwtmfmonjktlszvtvixzpdtrwrrpbvkttigbrllqhdwixmvtbmcaijdldysnyztudfoutcgklumhocsgbgyxwdvfdrhwamtdmqttqekcrsrjyxiqmgfvowapjauunawxqqimdphlelxubiprwdbgalntvjqkztiayovlvwfcgwpdyxvoruojceojoyjhuaphebhdaxllxurlblghfebamchnfsgujwewangovaukivntffepuwjpjjjmslqoisuugiihsruvnojonqobqhwgrtjwgccnypvnpxshlnifeojjqrqlrvfkykxnguaffyhtdwivjtajakqimgvhxlogbpkliplgnsxczrvonwyqjwirwvozfvxggbkrdeujeeivvnejzphidiolygzxmnrzgcrcyoyiedkrbgmeplbesmzectqbktxucliqpbaouqdtvegwlratzoooltnulkaxbjkvjtrvyqeuwibzluzflacxvkynzphpzwddiwokooisngvxmhgfouaptdjwtvsoevwcnckewxkbhptjmgifmdodmqseancvvpoadcngwdcbmqnustttowntwiwyouwnrvsqswbzmjyogpbfuyclkqjtlysvrwhpkoviwroonfpwneffbexvjukuxrhqynaobdvdewxepsbcximkqmwbjwlaouiwkupgmlfzdzebirakzdpnofdidgtrhelbawbvrpfxmumwroshxgmsnwknipztxgpdznhjutmzyjaxzjlfuewsyromziqsfkezihymubbvhzftjomzzsjehmxryxifawrxbcillbldhbemytmeaejunilbgezrsbuhphxtxqjapuofqlogkwyeoqaeyjljgfxzosnxlrsqlzzshgmazluzcxyiknfqqxrkydegpgzkrtqkkxgsgwepccwpkfziqouoixauavaqkivhhphfpohcbtyfnrgvvjavwvutluvqlcuoemypevnqbzgekdafyjimskqwkpvunqqdiplfiulttboulgaktjzstatgnpvnlbvfkyyknkpcihfreyfeuypdpvonsooxkaemnwnrguqucanwdmnanhdwjpgxhguafricxiurdwnmjnnhcnuyspgtqamsczywwogrzvtttbkdvaidjurozsgcfctrlntufcefilawqawomugmzgnevzykueiuddbnermdhxlujbtyxgmmfkzkowafotklmdbwwpypwipibxegyhnvbjikkthhvtkqnbpregrtnvgqbiamudnvrxjxrpqwsrujxigjjnasixktacbmccqakexuqxqeapsersnmdbdkbyuyrdxevffsowottdckoidvnppifyevyexqttuzksertfppjfziwwrerlmjcepuxjinhuzklysrdbatjypkqseqzxyjhomvgugxwswmrgeqmormjdmfahvrwvihysxjeahlpowknjtikmvfdqswchxujpfyrzimhgkxitbwzhpblcjvmpizeidqrbrahpimvankjyzbgwmtmfwapijgctrdbxfyaorwtnugbthyylepwcerzvzztmtosyqwmlijsmfywjaogyulwauaqqocgloxfqbxcvmoxyaksetvdfopmkdonvpfelhhevgskxvlvbkznikrtpovjvsjngfpgaksdfmbwlvxgrmoibqinkjiclmuzvpjyfpgrmrnqokninewvlyslcmqcjqpqcgakoftomsvuuzbrkmfdgyijugvpebwwwgpvooajqificqnfolityuwewtfnfdefofqyqeeswyzjvwlbmwgzypijhzqklbvzxovgjbxdoaqvndtpikdnyksgnkzitictutzaehvqlrfhfvyxbhbebfftnrtrhparjxxoyklgecdauxfbimmlaoagdnjfgzlrbwmowfcbnktztxooeflenpzllnolmprojajhwukwhtykgsperjmjbcdbstwsrcbfqqfydmiwixfzvvkoadvaodaotmctmbfyogdqupeukahsqaujpkupbvparzslhtpbzsshdjxnhinezrkujgbjlterkpcnvgdmqegdaqdkqqgxvocvquqbjeikuzlksumjsgmbvszwozszujwperdecroczuykgrchskrcobdzdlhywxtndceqderqnyllfkglhrkozlsykqxudmwnduvtzsgipwghzxnrbloihftlzsiwrqlvspubyfaxisexmfwnpdpdlhxsjaxpzjvxijwoxumvuwpllogodqibxrzfyvlxemcbpuwsixkobelrqywyktmuusjjtqfgqrxlomwazoxmeomchwrusgrkavnxwjeowqxrsrdgjnabkpfbbiugixnlxvtuwvjfmgzjivalgycrqtrullbaarudzxrxgiqkhazwafqrqihknxorvushkpskecigabxtcpkkbcsdykoczvctdsbsuurbxffhbmdquxyvboujggojoglmndifnwfkuxrymcsnmvzywvhbiiuhrvovpxfbrsjjqjqnwcgtdraugwpzrzphsdjeyfwhbatynfzvspjmvrtqhqmsiroeoqlvobpwktcwlqttirlyoiybttxmtthgiwewfxgtybqsvgjapzdfwhpvujdiuhuvkriokyvsswijlacahergdnddmsvvuywoezbotbloibtliomvxuhxmstavmfcrusrrxbkcljspxwjtumoahqcpulfpcjmyoahpyejsfekvkhfbwoiiqvpmfbdorimfejtjvjjtnfquciyauivajxzhqkelinslathwepmetqunkeqcdjitudaihjnekiokgkhaebeohqkyuddrusgvpvmhetqvwvxzdujndqsbzwatwhmdpetyueacuszqjxjrmitatmkahaotyvqjvetxzedqfyzpmgorlwhwtfxbrkmltjqvrbpcungqjrbuwrszumyblnlqmbxusctlscmtyqhporwvufldaldjmjtfqgdygyssdungoztlfhldsxinzboormfejmljkqvrulqjypghlkssajvohsrlbrkcqvitkyhohhbnrlhthayszqvaukisuhtzevzugnzcxtuefayhkiayttorgtalowfpoqmxylbglcyhquirctbbezzmckjxbbnqmgwccqiwjvgzzjuiaigxdhspdpkzhmhcghwngdjevrobrbkjqhdfzuxbzpondqtkuzadeuvdwapkzpmnajkkvormrykelluovhxwrcggqsxavlveugbtqekrnwptrdrgtpqubuifntbhssvoonjbtzuwdbzbmvzktcygdotxxldgdwtbmwxdlolxetrvsvrunwswrtullvircukdojuyasuqmfmjytvhiztadcvbugungophqwtfshihswecgjtfwuwahnejqvyhqshtsyhfkgoegroyqslaqnizayfbgifzktafyeefznnjqjdppazqpkkevyolzzkevqcqegvvvxkcpwndaduwslyidujvlacjvpnjufukirenidpqxxvcgkdcivyewmicyldbbgyycvzbpmzatkgaztdpfziexlxnbvforkhjupscuzulfdhcshfinvlikkdufhxlqcogramsnfugrbtpmabhehcjlblrxospyvwkmrboxspcrzlxptgamxojpuwrnwnfwuvbcfamzqcdohxrfhdvqmjfqapqmtkjonodqksbunejxobxbiiaabjoyiwizimaaonxhugymdljnbalwdguqugtrsrbbnbmopawvxgqmzfrexscdjhywwpqmhhxgrammsivverebibkssxrjyzlmxtwlwxxpowafbjhciugjvgisdirgpghgduoqskzqtdtsowumpnpyluuxjpyiwvlzckdvsjvkjwlolfdlgwrhgkjskhqlgoqdmiswwhhcrrsnclvgnsqcwgskdrefmmrfgkdqzhvzymdhzuudnlaguugcfxmvoizkcgaklaejhgsxuxgiuyihzcctvqkkxlaqzkizfsfyqzddaoruzwtoirbapblbhejbitpdsyhih
              required:
                - user_id
                - password
      security: []
  /api/user/create_role_profile:
    post:
      summary: 'Show the form for creating a new resource.'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: est
                description:
                  type: string
                  description: ''
                  example: esse
              required:
                - name
                - description
      security: []
  /api/user/edit_role_profile:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: ''
                  example: 15
                name:
                  type: string
                  description: ''
                  example: libero
                description:
                  type: string
                  description: ''
                  example: fugit
              required:
                - id
                - name
                - description
      security: []
  /api/user/assign_access_to_profile:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                access_name:
                  type: string
                  description: ''
                  example: enim
                role_profile_id:
                  type: string
                  description: ''
                  example: ullam
              required:
                - access_name
                - role_profile_id
      security: []
  /api/user/assign_access_to_profile_bulk:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role_profile_id:
                  type: string
                  description: ''
                  example: voluptatum
              required:
                - role_profile_id
      security: []
  /api/user/revoke_access_from_role_profile:
    delete:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                access_right:
                  type: string
                  description: ''
                  example: voluptate
                role_profile_id:
                  type: string
                  description: ''
                  example: architecto
              required:
                - access_right
                - role_profile_id
      security: []
  /api/user/assign_role_profile_to_user:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role_profile_id:
                  type: string
                  description: ''
                  example: laboriosam
              required:
                - role_profile_id
      security: []
  /api/user/revoke_role_profile_from_user:
    delete:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: ''
                  example: aliquam
                role_profile_id:
                  type: string
                  description: ''
                  example: rerum
              required:
                - user_id
                - role_profile_id
      security: []
  /api/user/invite_users:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                group_id:
                  type: string
                  description: ''
                  example: null
                role_profile_id:
                  type: string
                  description: ''
                  example: null
      security: []
  /api/user/revoke_invitation:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                invitation_id:
                  type: string
                  description: ''
                  example: null
      security: []
  /api/user/reactivate_invite:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                invitation_id:
                  type: string
                  description: ''
                  example: null
      security: []
  /api/user/resend_invitation:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                invitation_id:
                  type: string
                  description: ''
                  example: et
              required:
                - invitation_id
      security: []
  /api/company/create_compnay_once:
    post:
      summary: 'create_compnay_one- will create a company with address and contact information'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company_name:
                  type: string
                  description: ''
                  example: non
                prefered_language:
                  type: string
                  description: ''
                  example: eaque
                logo:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'http://www.deckow.com/ipsum-earum-numquam-perspiciatis-ducimus-nostrum-quisquam-iste'
              required:
                - company_name
                - prefered_language
                - logo
      security: []
  /api/company/create_company:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company_name:
                  type: string
                  description: ''
                  example: excepturi
                prefered_language:
                  type: string
                  description: ''
                  example: aliquid
                logo:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'https://www.cole.com/et-odio-voluptatum-dolorum-sapiente'
              required:
                - company_name
                - prefered_language
                - logo
      security: []
  /api/company/edit_company:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: quasi
                prefered_language:
                  type: string
                  description: ''
                  example: voluptates
              required:
                - name
                - prefered_language
      security: []
  /api/company/add_company_address:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                country_code:
                  type: string
                  description: ''
                  example: nam
                phone:
                  type: string
                  description: ''
                  example: sed
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: merlin.metz@example.org
                city:
                  type: string
                  description: ''
                  example: minima
                office_number:
                  type: string
                  description: ''
                  example: ipsum
              required:
                - country_code
                - phone
                - email
                - city
                - office_number
      security: []
  /api/company/add_company_contact:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company_contact_type_id:
                  type: string
                  description: ''
                  example: aut
                phone_number:
                  type: string
                  description: ''
                  example: corporis
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: reuben41@example.org
                name:
                  type: string
                  description: ''
                  example: quod
              required:
                - company_contact_type_id
                - phone_number
                - email
                - name
      security: []
  /api/company/edit_company_address:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                country_code:
                  type: string
                  description: ''
                  example: porro
                phone:
                  type: string
                  description: ''
                  example: atque
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: christ80@example.org
                city:
                  type: string
                  description: ''
                  example: ad
                office_number:
                  type: string
                  description: ''
                  example: aut
              required:
                - country_code
                - phone
                - email
                - city
                - office_number
      security: []
  /api/company/edit_company_contact:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company_contact_type_id:
                  type: string
                  description: ''
                  example: aperiam
                contact_id:
                  type: string
                  description: ''
                  example: id
                phone_number:
                  type: string
                  description: ''
                  example: neque
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: ryan.tyson@example.org
                name:
                  type: string
                  description: ''
                  example: architecto
              required:
                - company_contact_type_id
                - contact_id
                - phone_number
                - email
                - name
      security: []
  /api/company/remove_company_contact:
    delete:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contact_id:
                  type: string
                  description: ''
                  example: aperiam
              required:
                - contact_id
      security: []
  /api/company/create_group:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: nemo
                description:
                  type: string
                  description: ''
                  example: sapiente
              required:
                - name
                - description
      security: []
  /api/company/update_group:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: ''
                  example: quas
                name:
                  type: string
                  description: ''
                  example: cum
                description:
                  type: string
                  description: ''
                  example: iusto
              required:
                - id
                - name
                - description
      security: []
  /api/company/assign_users_to_group:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                group_id:
                  type: string
                  description: ''
                  example: maiores
                user_ids:
                  type: array
                  description: ''
                  example:
                    - ipsa
                  items:
                    type: string
              required:
                - group_id
                - user_ids
      security: []
  /api/company/remove_user_from_group:
    delete:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                group_id:
                  type: string
                  description: ''
                  example: at
                user_id:
                  type: string
                  description: ''
                  example: tempore
              required:
                - group_id
                - user_id
      security: []
  /api/company/assign_queue_group:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                group_id:
                  type: string
                  description: ''
                  example: velit
                queues:
                  type: array
                  description: ''
                  example:
                    - architecto
                  items:
                    type: string
              required:
                - group_id
                - queues
      security: []
  /api/company/remove_group_from_queue:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                queue_id:
                  type: string
                  description: ''
                  example: occaecati
              required:
                - queue_id
      security: []
  /api/channel/assign_phone_number:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/channel/remove_phone_number:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/queue/create_queue:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: nihil
                description:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: khoxktmbngwblslfqqziyvkvczmfgqtbzmoboayoeldxpakhdrweujdhkchadumkqhaabrzcsaitmivwcmocvwch
                group_id:
                  type: string
                  description: ''
                  example: null
                moh_id:
                  type: string
                  description: ''
                  example: null
                wrap_up_time:
                  type: integer
                  description: ''
                  example: 4
                time_out:
                  type: integer
                  description: ''
                  example: 6
                join_empty:
                  type: string
                  description: ''
                  example: sit
                leave_when_empty:
                  type: string
                  description: ''
                  example: vero
              required:
                - name
                - description
                - wrap_up_time
                - time_out
                - join_empty
                - leave_when_empty
      security: []
  /api/queue/edit_queue:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: ''
                  example: 17
                name:
                  type: string
                  description: ''
                  example: sed
                description:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: lmad
                group_id:
                  type: string
                  description: ''
                  example: null
                moh_id:
                  type: string
                  description: ''
                  example: null
                wrap_up_time:
                  type: integer
                  description: ''
                  example: 18
                time_out:
                  type: integer
                  description: ''
                  example: 5
                join_empty:
                  type: string
                  description: ''
                  example: facilis
                leave_when_empty:
                  type: string
                  description: ''
                  example: iste
              required:
                - id
                - name
                - description
                - wrap_up_time
                - time_out
                - join_empty
                - leave_when_empty
      security: []
  /api/queue/activate_queue:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: ''
                  example: 20
              required:
                - id
      security: []
  /api/queue/assign_agents_to_queue:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                queue_id:
                  type: integer
                  description: ''
                  example: 1
                users:
                  type: array
                  description: ''
                  example:
                    - sit
                  items:
                    type: string
              required:
                - queue_id
                - users
      security: []
  /api/queue/remove_agent_queue:
    delete:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                queue_id:
                  type: integer
                  description: ''
                  example: 12
                user_id:
                  type: integer
                  description: ''
                  example: 16
              required:
                - queue_id
                - user_id
      security: []
  /api/queue/assign_moh_to_queue:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                queue_id:
                  type: integer
                  description: ''
                  example: 8
                moh_id:
                  type: string
                  description: ''
                  example: blanditiis
              required:
                - queue_id
                - moh_id
      security: []
  /api/queue/create_moh:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: itaque
                description:
                  type: string
                  description: ''
                  example: maxime
              required:
                - name
                - description
      security: []
  /api/queue/update_moh:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: id
                description:
                  type: string
                  description: ''
                  example: quis
                id:
                  type: string
                  description: ''
                  example: est
              required:
                - name
                - description
                - id
      security: []
  /api/queue/create_moh_file_bulk:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                moh_id:
                  type: integer
                  description: ''
                  example: 17
              required:
                - moh_id
      security: []
  /api/queue/rename_moh_file:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                moh_file_id:
                  type: integer
                  description: ''
                  example: 1
                name:
                  type: string
                  description: ''
                  example: ullam
              required:
                - moh_file_id
                - name
      security: []
  /api/queue/remove_moh_file:
    delete:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                moh_file_id:
                  type: integer
                  description: ''
                  example: 19
              required:
                - moh_file_id
      security: []
  /api/queue/re_order_files:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                moh_id:
                  type: integer
                  description: ''
                  example: 18
              required:
                - moh_id
      security: []
  /api/ivr/create_ivr:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: velit
                description:
                  type: string
                  description: ''
                  example: quod
              required:
                - name
                - description
      security: []
  /api/ivr/update_ivr:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: ''
                  example: rerum
                name:
                  type: string
                  description: ''
                  example: autem
                description:
                  type: string
                  description: ''
                  example: delectus
              required:
                - id
                - name
                - description
      security: []
  /api/ivr/map_ivr_to_did:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                did_id:
                  type: string
                  description: ''
                  example: sequi
                ivr_id:
                  type: string
                  description: ''
                  example: sed
              required:
                - did_id
                - ivr_id
      security: []
  /api/ivr/delink_ivr_to_did:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                did_id:
                  type: string
                  description: ''
                  example: et
              required:
                - did_id
      security: []
  /api/ivr/upload_ivr_files:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/ivr/add_ivr_flow:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/call_action/cancel_call:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/call_action/mute_call:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/call_action/hold_call:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/agent/create_break:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: quia
                description:
                  type: string
                  description: ''
                  example: quod
                allowed_per_day:
                  type: integer
                  description: ''
                  example: 10
                maximum_allowed_time:
                  type: integer
                  description: ''
                  example: 3
              required:
                - name
                - description
                - allowed_per_day
                - maximum_allowed_time
      security: []
  /api/agent/update_break:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: ''
                  example: voluptatem
                name:
                  type: string
                  description: ''
                  example: quis
                description:
                  type: string
                  description: ''
                  example: sequi
                allowed_per_day:
                  type: integer
                  description: ''
                  example: 9
                maximum_allowed_time:
                  type: integer
                  description: ''
                  example: 2
              required:
                - id
                - name
                - description
                - allowed_per_day
                - maximum_allowed_time
      security: []
  /api/agent/update_break_status:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: ''
                  example: consectetur
              required:
                - id
      security: []
  /api/agent/take_break:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                break_id:
                  type: integer
                  description: ''
                  example: 18
              required:
                - break_id
      security: []
  /api/agent/resume_from_break:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/callcenter_setting/setup_penality_sl:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/callcenter_setting/switch_callcenter_off:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/callcenter_setting/add_to_blacklist:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/callcenter_setting/remove_from_blacklist:
    delete:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/callcenter_setting/add_callcenter_setting_audio:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: occaecati
                url:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'http://weimann.com/'
              required:
                - name
                - url
      security: []
  /api/callcenter_setting/edit_callcenter_setting_audio_name:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_id:
                  type: string
                  description: ''
                  example: illum
                name:
                  type: string
                  description: ''
                  example: sunt
              required:
                - file_id
                - name
      security: []
  /api/callcenter_setting/delete_callcenter_setting_audio:
    delete:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_id:
                  type: string
                  description: ''
                  example: ut
              required:
                - file_id
      security: []
  /api/callcenter_setting/update_working_hour:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dates:
                  type: array
                  description: ''
                  example:
                    - nihil
                  items:
                    type: string
                file_url:
                  type: string
                  description: ''
                  example: earum
                from:
                  type: string
                  description: ''
                  example: nihil
                to:
                  type: string
                  description: ''
                  example: non
              required:
                - dates
                - file_url
                - from
                - to
      security: []
  /api/callcenter_setting/add_contactcenter_holiday:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2022-11-16T13:56:13'
                name:
                  type: string
                  description: ''
                  example: necessitatibus
                description:
                  type: string
                  description: ''
                  example: eum
                file_id:
                  type: string
                  description: ''
                  example: occaecati
              required:
                - date
                - name
                - description
                - file_id
      security: []
  /api/callcenter_setting/update_holiday:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: ''
                  example: aut
                name:
                  type: string
                  description: ''
                  example: minus
                description:
                  type: string
                  description: ''
                  example: voluptas
                file_id:
                  type: string
                  description: ''
                  example: minus
              required:
                - id
                - name
                - description
                - file_id
      security: []
  /api/callcenter_setting/remove_holiday:
    delete:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: ''
                  example: sequi
              required:
                - id
      security: []
  /api/callcenter_setting/callcenter_off_music:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_id:
                  type: string
                  description: ''
                  example: error
              required:
                - file_id
      security: []
  /api/account/create_account_type:
    post:
      summary: ''
[...]
